<p-card styleClass="p-card-shadow news-card">
  <ng-template pTemplate="header">
    <div class="news-image-container">
      <img alt="News image" [src]="news.imageUrl" class="news-image">
    </div>
  </ng-template>

    <ng-template pTemplate="title">
      <div class="news-header">
        <span class="text-xs text-blue-500">{{ news.author }}</span>
        <h2 class="m-0">{{ news.title }}</h2>
        <p class="text-xs text-gray-500">{{ news.date | date }}</p>
      </div>
    </ng-template>

    <ng-template pTemplate="content">
      <p>{{ getSummary(news.body, isMainCard ? 300 : 100) }}</p>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton label="Leer más" icon="pi pi-arrow-right" (click)="navigateToDetail()"></button>
    </ng-template>
  </p-card>