<div class="navbar">
  <p-menubar styleClass="responsive-menubar">
    <ng-template pTemplate="start">
      <span class="app-logo" (click)="navigateToHome()">MFNews</span>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="navbar-actions">
        @if (!showEditButtons) {
          <button pButton label="Nueva Noticia" icon="pi pi-plus" (click)="onNewNewsClick()" class="p-button-primary"></button>
        } @else {
          <div class="button-group">
            <button pButton icon="pi pi-trash" class="p-button-danger" (click)="openDeleteModal()"></button>
            <button pButton icon="pi pi-pencil" (click)="openEditModal()"></button>
          </div>
        }
      </div>
    </ng-template>
  </p-menubar>
</div>