<div class="carousel-container">
    <p-carousel [value]="news" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
      <ng-template let-newsItem pTemplate="item">
        <div class="carousel-item">
          <img [src]="newsItem.imageUrl" [alt]="newsItem.title" class="carousel-image">
          <h5>{{ newsItem.title }}</h5>
          <p>{{ newsItem.date | date }}</p>
          <button pButton label="Ver más" icon="pi pi-arrow-right" (click)="navigateToDetail(newsItem.id)"></button>
        </div>
      </ng-template>
    </p-carousel>
  </div>