<div class="p-container">
  <app-navbar (newNewsClick)="openNewNewsModal()"></app-navbar>
  
  <div class="grid home-layout mt-2">
    <div class="col-12 md:col-8 lg:col-9">
      @if (featuredNews) {
        <app-news-card-principal [news]="featuredNews"></app-news-card-principal>
      }
    </div>
    
    <div class="col-12 md:col-4 lg:col-3 sidebar-container">
      <app-news-sidebar [news]="sidebarNews"></app-news-sidebar>
    </div>

    <div class="col-12 mt-4">
      <h2>Más noticias</h2>
      <app-news-carousel [news]="carouselNews"></app-news-carousel>
    </div>
  </div>
</div>