<div class="p-container">
  <app-navbar 
    [showEditButtons]="true" 
    [newsId]="newsId" 
    (editClick)="openEditModal()" 
    (deleteClick)="openDeleteModal()">
  </app-navbar>
  
  <div class="grid mt-2">
    <div class="col-12 md:col-8 lg:col-9">
      @if (currentNews) {
        <app-news-detail [news]="currentNews"></app-news-detail>
      } @else {
        <div class="flex align-items-center justify-content-center p-4">
          <p>Cargando noticia...</p>
        </div>
      }
    </div>
    
    <div class="col-12 md:col-4 lg:col-3 sidebar-container">
      <app-news-sidebar [news]="relatedNews" [maxItems]="2"></app-news-sidebar>
    </div>
  </div>
  
  @if (currentNews) {
    <app-edit-news-modal 
      [(visible)]="showEditModal" 
      [news]="currentNews" 
      [isNew]="false" 
      (save)="updateNews($event)">
    </app-edit-news-modal>
  }
  
  <app-delete-news-modal 
    [(visible)]="showDeleteModal" 
    [newsId]="newsId" 
    (confirm)="deleteNews($event)">
  </app-delete-news-modal>
  
  <p-toast position="top-center"></p-toast>
</div>