<p-dialog 
  [(visible)]="visible" 
  [style]="{ width: '30vw' }" 
  [modal]="true" 
  [draggable]="false" 
  [resizable]="false"
  header="Confirmar eliminación">
  
  <div class="confirmation-content">
    <p>¿Estás seguro de que quieres eliminar esta noticia? Esta acción no se puede deshacer.</p>
  </div>
  
  <ng-template pTemplate="footer">
    <button pButton label="No" icon="pi pi-times" (click)="hideDialog()" class="p-button-text"></button>
    <button pButton label="Sí" icon="pi pi-check" (click)="confirmDelete()" class="p-button-danger"></button>
  </ng-template>
</p-dialog>