:root {
    --p-font-family: 'Roboto', sans-serif;
    --p-font-size: 1rem;
    /* Otras variables que necesites sobrescribir */
  }
  
  body {
    font-family: var(--p-font-family);
    font-size: var(--p-font-size);
  }

  